body {
    overflow: hidden
}

.dark {
    background: #222
}

.white {
    background: #f5f5f5
}

.overflow,
.circle-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.overflow {
    z-index: 9998;
    width: 10000vw;
    height: 100000vh
}

.circle-line {
    z-index: 9999;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.circle-red,
.circle-green,
.circle-yellow,
.circle-blue {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 5px
}

.circle-red {
    background-color: #ea4335;
    animation: movingUp .5s infinite alternate
}

.circle-blue {
    background-color: #4285f4;
    animation: movingUp .5s .2s infinite alternate
}

.circle-green {
    background-color: #34a853;
    animation: movingUp .5s .5s infinite alternate
}

.circle-yellow {
    background-color: #fbbc05;
    animation: movingUp .5s .7s infinite alternate
}

@keyframes movingUp {
    from {
        top: 0
    }
    to {
        top: -30px
    }
}
